<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718146582702-4ckse7cnatq1htkf0dhj8lloncmt62vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718146582702-4ckse7cnatq1htkf0dhj8lloncmt62vn</string>
	<key>API_KEY</key>
	<string>AIzaSyAErpbRb_R4aArQnsrZSyP1tu7h35Wf2Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>718146582702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coreBuisness.praticeDelegate</string>
	<key>PROJECT_ID</key>
	<string>sudochurch-db09c</string>
	<key>STORAGE_BUCKET</key>
	<string>sudochurch-db09c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718146582702:ios:5bbf998a9fc699cd2fd53f</string>
</dict>
</plist>